.pilt {
  width: 100px;
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  font-weight: bold;
}

.nupp:hover {
  border: 3px dotted green;
  cursor: pointer;
}

.tume {
  background-color: black;
  color: white;
  min-height: 100vh;
  /* 100% view height ---> ekraani kõrgus */
}

.hele {
  background-color: aliceblue;
  min-height: 100vh;
}

.kuldne {
  color: goldenrod;
}

